.dFlex {
  display: flex;
  // row or column
  &.flex-d {
    &-row{
      flex-direction: row;
    }
    &-column{
      flex-direction: column;
    }    
  }
  // justification
  &.justify-d {
    &-start{
      justify-content: flex-start;
    }
    &-end{
      justify-content: flex-end;
    }
    &-center{
      justify-content: center;
    }
    &-between{
      justify-content: space-between;
    }
    &-around{
      justify-content: space-around;
    }
  }
  // alignment
  &.align-d {
    &-start{
      align-items: flex-start;
    }
    &-end{
      align-items: flex-end;
    }
    &-center{
      align-items: center;
    }
    &-baseline{
      align-items: baseline;
    }
    &-stretch{
      align-items: stretch;
    }
  }
  // wrapping
  &.wrap-d {
    &-nowrap{
      flex-wrap: nowrap;
    }
    &-wrap{
      flex-wrap: wrap;
    }
    &-wrap-reverse{
      flex-wrap: wrap-reverse;
    }
  }
  // ordering
  &.order-d {
    &-first{
      order: -1;
    }
    &-last{
      order: 1;
    }
    &-0{
      order: 0;
    }
    &-1{
      order: 1;
    }
    &-2{
      order: 2;
    }
    &-3{
      order: 3;
    }
  }
  // flex-grow
  &.grow-d {
    &-0{
      flex-grow: 0;
    }
    &-1{
      flex-grow: 1;
    }
    &-2{
      flex-grow: 2;
    }
    &-3{
      flex-grow: 3;
    }
  }
  // flex-shrink
  &.shrink-d {
    &-0{
      flex-shrink: 0;
    }
    &-1{
      flex-shrink: 1;
    }
    &-2{
      flex-shrink: 2;
    }
    &-3{
      flex-shrink: 3;
    }
  }
  // flex-basis
  &.basis-d {
    &-0{
      flex-basis: 0;
    }
    &-1{
      flex-basis: 1rem;
    }
    &-2{
      flex-basis: 2rem;
    }
    &-3{
      flex-basis: 3rem;
    }
  }

}