<div class="container">
  <div class="row">
    <div class="col-8">
      <app-loading [isLoading]="isLoading" [isError]="isError" [errorMessage]="errorMessage"></app-loading>
      @if (!isLoading && !isError) {
      <table mat-table [dataSource]="sales" class="">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef  class="font-weight--bold">Date</th>
          <td mat-cell *matCellDef="let sale">{{ sale.date }}</td>
        </ng-container>
        <ng-container matColumnDef="sales">
          <th mat-header-cell *matHeaderCellDef  class="font-weight--bold">Sales</th>
          <td mat-cell *matCellDef="let sale">{{ sale.sales }}</td>
        </ng-container>
        <ng-container matColumnDef="items_sold">
          <th mat-header-cell *matHeaderCellDef  class="font-weight--bold">Items Sold</th>
          <td mat-cell *matCellDef="let sale" class="text-align-center">{{ sale.items_sold }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions font-weight--bold">Actions</th>
          <td mat-cell *matCellDef="let sale" class="actions">
            <button role="button" mat-button (click)="editSales(sale)" class="btn btn-edit">
              <div class='visibility-hidden'>Edit</div>
              <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
            </button>
            <button role="button" mat-button (click)="deleteSales(sale)" class="btn btn-delete">
              <div class='visibility-hidden'>Delete</div>
              <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      }
    </div>
  </div>
</div>