@import 'componentInclude';

.btn {
  background: none;
  border: none;

  &-leftRailToggle {
    padding: 0;
    width: 3rem;
    color: var(--sv-button-primary);
    position: absolute;
    bottom: 0;
    left: 0;
    &.isOpen {
      mat-icon {
        transform: rotate(180deg);
      }
    }

    mat-icon {
      transition: transform 1s ease;
      @include mat-icon-size(3rem);
      margin: 0 10px;
    }
  }
  &-primary {
    background-color: var(--sv-button-primary);
  }
  &-secondary {
    background-color: var(--sv-button-secondary);
  }
  &-edit{
    background: transparent;
    color: green;
  }
  &-delete{
    background: transparent;
    color: red;
  }
}