// prefix
$prefix: 'sv';

// colours 
// scss-docs-start gray-color-variables
$white:    #fff;
// grays
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;
$black: #141414;
$white: #fff;
$blue: #1883D3;
$silver: #cdcdcd;
$green: #0F5132;
$platinum: #E5E4E2;
$red: #B50018;
$yellow :#FFD323;

// package cards

/// Default colour for borders
$borderColour: lighten($gray-600, 10);

// Typography
$font-family-sans-serif: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$font-size-base: 1rem; // this can only have a REM unit, PX will cause an error
$line-height-base: 1.5;

$link-color: $blue;

// heading sizes
$heading:(
  h1: $font-size-base * 3,
  h2: $font-size-base * 2.5,
  h3: $font-size-base * 2,
  h4: $font-size-base * 1.5,
  h5: $font-size-base * 1.25,
  h6: $font-size-base * 1.125
);

// grid 
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// snackbar
$sb:(
  notification-border: $gray-700,
  notification-bg: rgba($gray-700, 0.70),
  notification-copy: $white,
  alert-border: $green,
  alert-bg: rgba($green, 0.70),
  error-border: $red,
  error-bg: rgba($red, 0.70),
  warning-border: $yellow,
  warning-bg: rgba($yellow, 0.90),
);
// buttons
$buttons:(
  primary: $blue,
  secondary: $gray-700,
 
)


/* custom variable values:END */



/* Utilities */