// colours 
$black: #141414;
$white: #fff;
$blue: #005EB8;
$silver: #cdcdcd;
$green: #00B140;
$grey :#767676;
$platinum: #E5E4E2;

// package cards

/// Default colour for borders
$borderColour: lighten($grey, 10);

// Typography
$font-family-sans-serif: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$font-size-base: 1rem; // this can only have a REM unit, PX will cause an error
$line-height-base: 1.5;

$link-color: $blue;

// grid 
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// snackbar
$sb-alert--border: $green;
$sb-alert--bg: rgba(lighten($green, 50%), 0.9);

/* custom variable values:END */

:root {
  // colours
  --sv-blue: #{$blue};
  --sv-black: #{$black};
  --sv-white: #{$white};
  --sv-silver: #{$silver};
  --sv-grey: #{$grey};
  --sv-platinum: #{$platinum};
  --sv-border-colour: #{$borderColour};
  // typography
  --sv-font-family-sans-serif: #{$font-family-sans-serif};
  --sv-font-size-base: #{$font-size-base};
  --sv-font-colour-base: #{$black};
  --sv-line-height-base: #{$line-height-base};  
  --sv-h1-font-size: #{$font-size-base * 3};
  --sv-h2-font-size: #{$font-size-base * 2.5};
  --sv-h3-font-size: #{$font-size-base * 2};
  --sv-link-color: var(--sv-blue);
  --sv-link-color-hover: #{darken($link-color, 5%)};
  // snackbar
  --sv-snackbar-alert-border: #{$sb-alert--border};
  --sv-snackbar-alert-bg: #{$sb-alert--bg};
  //
}

/* Utilities */